 <!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Remove the Tile</h1>
          <p class="intro-text">None of the hassle.<br>Get started with a free estimate.</p>
          <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <h2>Benefits of Fast Tile Removal</h2>
  <div class="row">
    <div class="col-md-4">
      <i class="fa fa-trash-o big-icon"></i>
      <h2>Debris Removal</h2>
      <p>We will handle the proper disposal of the waste from the tile removal!</p>
    </div>
    
    <div class="col-md-4">
      <i class="fa fa-wrench big-icon"></i>
      <h2>The right Tools</h2>
      <p>We specialize in removing tile, thinset, and then the mess - So you know we have the right tools for the job.</p>      
    </div>
    
    <div class="col-md-4">
      <i class="fa fa-calendar big-icon"></i>
      <h2>Your Schedule</h2>
      <p>We know your time is valuable. Schedule a time that works best for you and we take care of the rest.</p>
    </div>
  </div>
</section>

<!-- Download Section -->
<section id="faq" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Frequently Asked Questions</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Do you remove thinset?</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>Yes! We remove both tile and thinset. If you have removed your ceramic, porcelain or saltillo tiles and only need thin set removal we can handle that too. Ask for a thinset removal free estimate. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Is there a lot of dust when you remove the tile?</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Absolutely not. Not only is our service fast but it is also virtually dust free. That is one thing that sets us apart from our "competition" in that we have invested in learning techniques and practices to virtually eliminate all dust. Dust free tile removal!</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">How much does it cost?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We bring all of our tools and equipment to remove your tile and thinset. We'll also haul the debris away if there is not a dumpster onsite. Our price is by the square foot of area surface removal. Please add up your total square footage (or a best guess estimate) and call 407 442 8937 for a free tile removal estimate. </p>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What forms of payment do you accept?</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Cash and Check</p>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Do you also install tile?</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>That is a service we also offer! Please see <a href="http://fasttileinstall.com">FastTileInstall.com</a></p>
              </div>
            </div>
          </div>

        
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What next?</a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Now that you have received your free estimate, just call and schedule a time for us to come and remove your tile and/or thinset.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Start Bootstrap</h2>
      <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>

   